<div class="row">
	<div class="col-11 col-sm-9 col-md-6 col-lg-6 card-col">
		<div class="card px-sm-5">
		   <a class="navbar-brand" href="#">
           <img src="assets/books-stack1.png" width="40" height="40" alt="logo">
           book<span>S</span>tore
           </a>
		   <h3 class="login-title text-center"> 
             Login </h3>
		    <form #f="ngForm" class="px-xl-5">
                <div class="form-group">
                    <!-- <div class="alert alert-danger" role="alert" *ngIf="this.authService.signinError"><fa-icon [icon]="faTimesCircle"></fa-icon> Wrong email or password. Please try again!
                    </div> -->
            	    <label for="email"> 
                        <fa-icon [icon]="faAt"></fa-icon> Email 
                    </label> 
            	    <input type="email" 
                    class="form-control" 
                    id="email"  
                    placeholder= "Enter email" 
                    ngModel
                    name="email" 
                    required 
                    email 
                    #email="ngModel"> 
            	    <small style="color: #d87d15;" class="form-text" 
                    *ngIf="!email.valid && email.touched"> Please provide a valid email address!
                   </small>
                </div>
                <div class="form-group"> 
            	    <label for="password"> 
                       <fa-icon [icon]="faUnlock"></fa-icon>
                    </label> 
                    <small class="float-right">  <a routerLink="/forgot-password"> Forgot password? </a></small>
            	    <input type="password" 
                     class="form-control" 
                     id="password" 
                     placeholder="" 
                     name="password" 
                     ngModel 
                     required 
                     #password="ngModel" 
                  
                     > 
            	    <small style="color: #d87d15;" class="form-text" 
                    *ngIf="!password.valid && password.touched"> Please provide a password!</small>
            	    <small style="color: #d87d15;" class="form-text" 
                    *ngIf="password.errors?.pattern" > Password is wrong! </small> 
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="check">
                    <label class="form-check-label" for="check"> Remember password</label>
                </div>
                <button type="submit" class="btn btn-warning btn-block" (click)="login()"  > Log In </button>  
                 <hr class="hr-text" data-content="or"> 
		    </form>
            <div class="px-xl-5">
                <button class="btn btn-block mt-0" style="background-color: #DD4B39" (click)="authService.googleLogin()"> <fa-icon [icon]="faGoogle"></fa-icon> <span class="ml-2">  Google </span> 
                </button>   
                <button class="btn btn-block mt-2" style="background-color: #3B5998" (click)="authService.facebookLogin()"> <fa-icon [icon]="faFacebookF"></fa-icon> <span class="ml-2">   Facebook </span> 
                </button>
                <hr>
            </div>	    
		    <p class="px-xl-5"> Don't have an account?  
			    <a routerLink="/signup"> Sign Up </a>
		    </p>
        </div>
     </div>
</div>











