
<footer class="panel-footer"> <!-- Footer  Starts here -->
  <hr style="margin: 0; padding: 0;">
  <div class="container-fluid"> 
    <div class="row" id="logo-col">
      <div class="col-12 text-center" >
        <a routerLink="/" class="logo"> 
          <img src="assets/books-stack1.png" width="30" height="30" alt="logo">
            <span>book<span>S</span>tore</span> 
        </a>
      </div>
        <hr style="width: 100%;">  
    </div>     
    <div class="row second-footer-row"> 
      <div class="col-lg-4 col-md-6 col-12 text-md-left footer-col">  
        <div class="offset-md-0 offset-sm-4 offset-2">
        <div class="contacts">
          <a href="tel:+994558616100">
            <fa-icon [icon]="faPhone"></fa-icon>+994558616100
          </a>
        </div>
        <div class="contacts">
          <a href="mailto:gulnar_mammadova@yahoo.com"> 
            <fa-icon [icon]="faEnvelopeOpen"></fa-icon>
              gulnar_mammadova@yahoo.com </a> 
            </div>
        <div class="contacts">
          <a href="https://goo.gl/maps/NwHLnVVUwD52" target="_blank">
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon> Baku, Azerbaijan
          </a>
        </div>
        </div>


        <hr class="d-block d-md-none" width="60%">
      </div>
      <div class="col-lg-4 col-md-6 col-12 footer-col"> 
        <div class="text-center" id="social-icons"> 
          <h4> Social Networks </h4>
          <a href="https://www.facebook.com/gulnarmem" target="_blank" class="btn btn-circle btn-xl"> 
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </a>
          <a href="https://twitter.com/" target="_blank" class="btn btn-circle btn-xl" role="button"> 
           <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a href="https://github.com/Gulnar87" target="_blank" class="btn btn-circle btn-xl "> 
             <fa-icon [icon]="faGithub"></fa-icon>
          </a>
          <a href="" target="_blank" class="btn btn-circle btn-xl"> 
             <fa-icon [icon]="faInstagram"></fa-icon>
           </a>
          <a href="https://www.linkedin.com/in/gulnar-mammadova-6988703a/" target="_blank" class="btn btn-circle btn-xl"> 
              <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </a>
        </div>
        <hr class="d-block d-md-none" width="60%">
      </div>
    
      <div class="col-lg-4 col-md-12 col-12 footer-col text-lg-right"> 
        <div class="flex-row"> 
          <ul class="col-md footer-col d-flex flex-md-row flex-lg-column justify-content-center menu-bottom ">
            <li class="list-inline-item"><a > Home</a></li>
            <li class="list-inline-item"> <a> About Us </a></li>
            <li class="list-inline-item"> <a routerLink="/books">Books</a> </li>
            <li class="list-inline-item"> <a> Contact Form </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="footer-bottom">
      <div class="col-12" >  
        <div id="copyright"> Copyright &copy; 2018 BookStore,  All rights reserved.
        </div> 
      </div>
    </div> 
  </div>
</footer>