<div class="row">
	<div class="col-11 col-sm-9 col-md-6 col-lg-6 card-col">
		<div class="card px-sm-5">
		   <a class="navbar-brand" href="#">
           <img src="assets/books-stack1.png" width="40" height="40" alt="logo">
           book<span>S</span>tore
           </a>
		   <h3 class="text-center"> 
             Password assistance </h3>
             <p class="px-xl-5">Enter the email address  associated with your account.</p>
		    <form (ngSubmit)="sendResetEmail()" #f="ngForm" class="px-xl-5">
                <div class="form-group">          
                	<div class="alert alert-success" role="alert" *ngIf="authService.passwordSuccess">  <fa-icon [icon]="faCheckCircle"></fa-icon> Reset email is sent to {{ this.forgotPasswordForm.value.email }}! </div>  	
                     <div class="alert alert-danger" role="alert" *ngIf="authService.passwordError"> <fa-icon [icon]="faTimesCircle"></fa-icon>We couldn't find an account associated with that email address. Please check that you've typed in the correct email address or sign up for an account.
                    </div>   
            	    <label for="email"> 
                        <fa-icon [icon]="faAt"></fa-icon>Email 
                    </label> 
            	    <input type="email" 
                    class="form-control" 
                    id="email"  
                    placeholder= "Enter email" 
                    ngModel
                    name="email" 
                    required 
                    email 
                    #email="ngModel"> 
            	    <small style="color: #d87d15;" class="form-text" 
                    *ngIf="!email.valid && email.touched"> Please provide a valid email address!
                   </small>
                </div>        
                <button type="submit" class="btn btn-danger btn-block"> Forgot Password </button>   
		    </form>
            <div class="text-center pt-3 pb-3 text-muted"> or 
			    <a routerLink="/signin" class="pl-2"> Sign in </a>
		    </div>
        </div>
     </div>
</div>