.card {
  margin-top: 50px;
  box-shadow: 0px 5px 20px #555;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Source Serif Pro', serif;
}

input.ng-invalid.ng-touched {
  border: 1px solid #d87d15;


}

h3 {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 40px;

}

.navbar-brand {
  font-family: 'Source Serif Pro', serif;
  font-size: 30px;
  color: #494784;
   margin: 20px auto;  
}

.navbar-brand span {
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  color: #d87d15;
}

.card-col{
  margin: 20px auto;

}


/********** Extra Large devices only **********/
@media (min-width: 1200px) {


}



/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {





}
     



/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {





}



/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {



}



/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

.card {
  padding: 60px;
}

h3 {

  font-size: 25px;
}


}

/********** Super extra small devices Only :-)  **********/
@media (min-width: 320px) and (max-width: 479px) {

.card {
  padding: 30px;
}

h3 {

  font-size: 25px;
}


}
